.modal-footer {
  display: flex;
  justify-content: space-between; /* Alinear los botones a los extremos */
  align-items: center; /* Centrar verticalmente los botones */
}

.close {
  font-size: 10px; /* Tamaño de fuente */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 250px; /* Bordes redondeados */
  border: none; /* Sin borde */
  cursor: pointer; /* Cambiar cursor al pasar por encima */
  transition: background-color 0.3s; /* Efecto de transición */
  background-color: crimson !important; /* Color de fondo */
  opacity: 1; /* Asegurar que la opacidad sea 1 */
  box-shadow: none; /* Quitar sombra de Bootstrap si es necesario */
}

/* Cambiar color de la "x" a blanco */
.close span {
  color: white; /* Color del texto de la "x" */
}

/* Agregar un efecto de hover para mejorar la interacción */
.close:hover {
  background-color: darkred; /* Cambiar color de fondo al pasar por encima */
}

/* Nueva clase para aplicar estilos al botón "Cerrar" */
.btn-custom-close {
  color: white; /* Color del texto */
  background-color: crimson; /* Color de fondo */
  border: none; /* Sin borde */
  border-radius: 250px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar cursor al pasar por encima */
  transition: background-color 0.3s; /* Efecto de transición */
}

/* Efecto de hover para el botón "Cerrar" */
.btn-custom-close:hover {
  background-color: darkred; /* Cambiar a un rojo más oscuro al pasar por encima */
}
